@font-face {
  font-family: "iran-sans";
  src: url("./assets/fonts/Sansa4fran3.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/Sansa4fran3.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/Sansa4fran3.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./assets/fonts/Sansa4fran3.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/Sansa4fran3.svg")
      format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: "iran-sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
